# Those files are untraced
*.perf
*.npz
*.pdf
*.vscode
*__pycache__/
*/__pycache__/
*.datas
*.models
*.postbel
*.prebel
*.npy
*example.png
*.pyc
*.egg-info
**/results/
**/EMI/results/
**/invdir/
**/.ipynb_checkpoints/
**/temp/